body {
	background-color: #6fc276;
}

h1 {
	text-align: center;
	font-family: Arial;
	color: white;
	font-size: 22px;
}

p {
	color: white;
}

h2 {
	text-align: center;
	color: white;
}

.program {
	text-align: center;
	background-color: #333;
	color: cadetblue;
}

.tankar {
	text-align: right;
}

.teknikum {
	width: 50%;
	height: 50%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

a:link {
	text-decoration: none;
}

section:nth-child(1) {
	border-style: solid;
	border-color: white;
}
ul {
	list-style-type: none;
	margin: 10;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

li {
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
	background-color: #111;
}
